{% extends "layout.html" %}
{% block body %}
<div class="row page">
    <h2>Register Now!</h2>
{% from "formhelper.html" import render_field %}
    <form method="post" action="{{ url_for('register') }}">
        {{ form.hidden_tag() }}
        <dl>
            {{ render_field(form.name) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
            {{ render_field(form.accept_tos) }}
        </dl>
        <p><input type="submit" value="Register"></p>
    </form>
</div>
<hr/>
{% endblock %}
